#accountList {
    margin: 0px;
    position: relative;
    border: 2px solid black;
    border-radius: 9px;
    font-size: 15px;
    left: -214px;
    top: -11px;
    cursor: pointer;
}

#accountList:hover {
    background-color: plum;
    /* color: white; */
    font-size: 16px;
}